{% extends 'base.html' %}
{% block 'content' %}
    <h1 style="margin-left: 2rem;">Welcome {{ type }}</h1>
      <div>
      <a href=" {% url 'logout' %} " class="btn btn-primary mb-3" style="margin-left: 2rem;">Logout</a>
    </div>
      <div class="col col-md col-4" style="margin-top: 2rem;margin-left: 2rem;">
        <h2 style="margin-left: 2rem;">profile</h2>
        <img src="{{ extend.profile.url }}" class="img-thumbnail" alt="profile" width="50%">
 
        <ol class="list-group " style="margin-bottom: 1rem;">
          
          <li class="list-group-item"><h5>Username : {{user.username}} </h5></li>
          <li class="list-group-item"><h5>firstname :{{user.first_name}} </h5></li>
          <li class="list-group-item"><h5>lastname : {{user.last_name}} </h5></li>
          <li class="list-group-item"><h5>email : {{user.email}} </h5></li>
          <li class="list-group-item"><h5>address :{{extend.address}} </h5></li>
          <li class="list-group-item"><h5>types : {{extend.types}} </h5></li>
        </ol>
      </div>
{% endblock 'content' %}